.movieCard {
  /* min-height: 340px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 160px;
}

.movieCard .movie-cover {
  width: 100%;
  cursor: pointer;
}
.movieCard .movie-text {
  color: #fff;
  font-style: normal;
  font-weight: 300;
  font-size: 13.5rem;
  /* line-height: 21px; */
}
