.navbar {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  z-index: 20;
}
.navbar-container1 {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(40px);
  border-bottom: .8px solid rgba(255, 255, 255, 0.18);
}
.navbar-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
  margin: 0 auto;
  height: 62px;
  width: 100%;
  max-width: 1090px;
  border-bottom: none;
}
.navbar-container2 .title-container{
 margin-right: 30px; 
}
.navbar-container2 .title{
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 1rem;
  color: var(--pimary-color);
}



.navbar-container2 .texts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.navbar-container2 .text-box{
  display: flex;
  align-items: center;
  font-size: 15rem;
  height: 100%;
}
.navbar-container2 .active-item{
  font-size: 15rem;
  border-bottom: 3px solid red;
}

.navbar-container2 .text{
  color: #fff;
  margin: 0 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 14.5rem;
  line-height: 21px;
}



.navbar-container2 .multi-container{
  display: flex;
  align-items: center;
  gap: 10px;
}